.box{
    background-color: #D3E7FF;
    border: solid #cccccc;
}

.box-buy{
    padding-top: 150px;
    padding-bottom: 150px;
    border: none;
    background: whitesmoke;
}

.step{
    margin: 0px 0px; 
}

.ul-none{
    list-style-type: none;
}

/* manu-payment */

.manu-payment{
    display: inline-block;
    float: left;
    width: 150px;
    height: 80px;
    background: #54babb;
    border:solid 2px black;
    border-radius: 4px;
    text-align: center;
    margin-right: 1px;
    
}
.manu-payment:active{
    box-shadow: 0 8px 6px -6px black;
}